@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3 {
  @apply font-dmsans;
  font-weight: 700;
}

.hover\:animation-pause:hover {
  animation-play-state: paused;
  transition: animation-play-state 0.5s ease;
  /* Durée et easing de la transition */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}